#loginPane {

}
#loginButton {
    -fx-background-color:  #181818;
    /*-fx-background-radius: 15 15 15 15;*/
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f50606;
    -fx-text-fill: white;
    -fx-background-color: none;
}
#loginButton:hover {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #f50606;
    -fx-border-radius: 15%;
}
#loginButton:pressed {
    -fx-text-fill:#f50606 ;
}
#loginEmailField{
    -fx-text-fill: white;
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f50606;
}
#loginPasswordField{
    -fx-text-fill: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: none;
    -fx-border-color: #f50606;
}