/*,animate jar od Misa,Bell notifikacie pre ownera od employee,*/
.list-view {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: white;
}
.list-cell:selected{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.list-cell:odd{
    -fx-background-color: white;
}
.text-field{
    -fx-text-fill: #f50606;
    -fx-border-radius: 2%;
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-prompt-text-fill: black;
    -fx-text-alignment: middle;
}
.inputs{
    -fx-text-fill: black;
}
.buttons{
    -fx-font-size: 15;
    -fx-border-width: 2 2 2 2;
    -fx-text-fill: #b38b4d;
    -fx-background-color: none;
}
.buttons:hover{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #b38b4d;
}
.buttons:pressed{
    -fx-font-size: 12;
}
.headerLabel{
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.blackButtons{
    -fx-font-size: 15;
    -fx-border-width: 2 2 2 2;;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-radius: 10%;
    -fx-background-color: white;
}
.blackButtons:hover{
    -fx-border-radius: 10%;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-text-fill: white;

}
.blackButtons:pressed{
    -fx-font-size: 13;
}
.ccButtons{
    -fx-background-color:  #181818;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: none;
}
.ccButtons:hover{
    -fx-border-width: 2 2 2 2;
    -fx-border-color: black;
    -fx-border-radius: 15%;
}
.ccButtons:pressed{
    -fx-background-radius: 15;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: black;
}
.datePicker{
    -fx-background-color: transparent;
}
#sidebarPane{
    -fx-background-color: white;
    -fx-opacity: 0.86;
    -fx-border-color: #b38b4d;
    -fx-border-width: 0 4 0 0 ;
}
#usercardAnchorPane,#orderHistoryCardAnchorPane{
    -fx-border-width: 0 4 0 4;
    -fx-border-style: dotted;
    -fx-border-color: #b38b4d;
    -fx-border-radius: 1%;
}
#logoutButton{
    -fx-font-size: 15;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #b38b4d;
    -fx-text-fill: #b38b4d;
    -fx-background-color: none;
}
#logoutButton:hover{
    -fx-background-color: #b38b4d;
    -fx-text-fill: white;
}
#logoutButton:pressed{
 -fx-font-size: 12;
}
#homeButton{
    -fx-background-color: #b38b4d;
    -fx-text-fill: white;
}
#nameLabel{
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#positionLabel{
    -fx-font-size: 16;
    -fx-text-fill: black;
}

.tableHeader{
    -fx-opacity: 0.86;
    -fx-background-color: #b38b4d;
}
#addingPane,#addingOrderPane{
    -fx-border-width: 4 4 4 4;
    -fx-border-color: #b38b4d;
    -fx-background-color: white;
}
#addUserButton:pressed{
    -fx-font-size: 14;
}
#sampleImage{
    -fx-border-width: 2 2 2 2;
    -fx-border-color: black;
}
#insertKeyField{
    -fx-text-fill: #f50606;
    -fx-border-radius: 2%;
    -fx-background-color: none;
    -fx-border-color: black;
    -fx-prompt-text-fill: black;
    -fx-text-alignment: middle;
}
#confirmDeletePane,#confirmDeleteOrderPane{
    -fx-border-width: 4 4 4 4;
    -fx-border-color: #b38b4d;
    -fx-background-color: white;
}
#employeeTableHeader{
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #b38b4d;
}

.search{
    -fx-text-fill: black;
    -fx-border-width: 3 3 3 3;
}
#oldPasswordField,#newPasswordField,#confirmPasswordField{
    -fx-border-width: 2 2 2 2;
    -fx-text-fill: black;
}
#cancelOrderButton:pressed,#confirmOrderButton:pressed{
    -fx-border-width: 2 2 2 2;
}
#switchToHistoryButton:pressed,#switchToOrdersButton:pressed{
    -fx-pref-width:32;
    -fx-pref-height:24;
}


