#sidebarPane{
 -fx-background-color: #FDFFFF;
    -fx-opacity: 0.86;
}
.buttons{
    -fx-background-color:  #181818;
    -fx-border-width: 2 2 2 2;
    -fx-text-fill: #b38b4d;
    -fx-background-color: none;
}
.buttons:hover{
    -fx-background-color: #b38b4d;
    -fx-text-fill: white;
}
#logoutButton{
    -fx-background-color:  #181818;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #b38b4d;
    -fx-text-fill: #b38b4d;
    -fx-background-color: none;
}
#logoutButton:hover{
    -fx-background-color: #b38b4d;
    -fx-text-fill: white;
}
#homeButton{
    -fx-background-color: #b38b4d;
    -fx-text-fill: white;
}
