
#insertKeyField{
    -fx-font-size: 17;
    -fx-border-radius: 2%;
    -fx-background-color: none;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: black;
    -fx-prompt-text-fill: black;
    -fx-text-alignment: middle;
}
#confirmButton{
    -fx-background-color:  #181818;
    /*-fx-background-radius: 15 15 15 15;*/
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: none;
}
#confirmButton:hover {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-border-radius: 15%;
}
#confirmButton:pressed {
    -fx-text-fill: #f50606;
    -fx-border-color: #f50606;
}
#cancelButton{
    -fx-background-color:  #181818;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: none;
}
#cancelButton:hover {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: black;
    -fx-border-radius: 15%;
}
#cancelButton:pressed {
    -fx-text-fill:#f50606 ;
    -fx-border-color: #f50606;
}
#guardPane{
    -fx-border-width: 4 4 4 4;
    -fx-border-color: #b38b4d;
    -fx-background-color: white;
}